@import url("http://db.onlinewebfonts.com/c/fe2027c27b6a24505f548c6fd2e1076d?family=Berlin+Sans+FB");
@import url("http://db.onlinewebfonts.com/c/a78cfad3beb089a6ce86d4e280fa270b?family=Calibri");
body{
margin:20px 25px;
font-family: "Berlin Sans FB"; 
}
.k{
font-family: "Calibri"; 
}
.item,.item span{
padding:5px;
}
.item span{
color:#5DB1EA;
}
.head{
border-bottom:solid 2px #5DB1EA;
}
.foot{
border-top:solid 2px #5DB1EA;
}
.biru{
color:#5DB1EA;
}
.foto{
max-width:100px;
}
.nama{
padding:unset;
margin:unset;
}
.kotak{
  position: absolute;
  background-color: black;
  width: 25px;
  height: 50px;
  left: 0em;
}
.kotak-biru{
background-color:#5DB1EA;
}
.box{
padding-left:30px;
margin-bottom:15px;
}
.atasan{
height:20px;
padding:unset;
margin:unset;
}
isi{
margin-top:10px;
}
.row,.konten,.gak{
margin:unset;
padding:unset;
}
.c100 .judul{
position: absolute;
font-size: 12px;
width: 100px;
z-index: 2;
bottom: 100%;
left: calc(50px - 75%);
}
.c100{
  margin-top: 35px;
}
.namaku{
float:left;
} 
@media screen and (min-width:767px) { 
.gede{
	display:auto;
}
.cilik{
display:none;
}

 }
@media screen and (max-width: 768px) { 
.cilik{
	display:auto;
}
.gede{
display:none;
}

 }
